<h2>Detalles del Trabajo</h2>

<p id="notice"><%= notice %></p>

<%= link_to "Volver", customer_path(@assignment.vehicle) %>

<p>
  <strong>Vehículo:</strong>
  <%= @assignment.vehicle.description %>
</p>
<p>
  <strong>Trabajo:</strong>
  <%= @assignment.description %>
</p>

<h3>Tareas</h3>

<%= turbo_stream_from "tasks" %>

<div class="bg-white shadow overflow-hidden sm:rounded-md">
  <ul class="divide-y divide-gray-200">
    <%= turbo_frame_tag "tasks" do %>
      <%= render @tasks %>
    <% end %>
  </ul>
</div>
<br>

<%= turbo_frame_tag "new_task" do %>
  <%= link_to "Nueva Tarea", new_task_path %>
<% end %>
