<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle:</strong>
  <%= @assignment.vehicle_id %>
</p>
<p>
  <strong>Trabajo:</strong>
  <%= @assignment.description %>
</p>


<%= link_to 'Editar', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>

<%= turbo_stream_from "tasks" %>

<div class="bg-white shadow overflow-hidden sm:rounded-md">
  <ul class="divide-y divide-gray-200">
    <%= turbo_frame_tag "tasks" do %>
      <%= render @tasks %>
    <% end %>
  </ul>
</div>
<br>

<%= turbo_frame_tag "new_task" do %>
  <%= link_to 'New Task', new_task_path %>
<% end %>
