<%= link_to "Volver", customers_path %>

<h2>Detalles del Cliente</h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @customer.address %>
</p>

<div><%= link_to 'Editar', edit_customer_path(@customer) %></div>

<h3>Vehiculos</h3>

<%= turbo_stream_from "vehicles" %>

<div class="bg-white shadow overflow-hidden sm:rounded-md">
  <ul class="divide-y divide-gray-200">
    <%= turbo_frame_tag "vehicles" do %>
      <%= render @vehicles %>
    <% end %>
  </ul>
</div>
<br>

<%= turbo_frame_tag "new_vehicle" do %>
  <%= link_to "Nuevo Vehiculo", new_vehicle_path %>
<% end %>
