<h2>Detalles del Vehículo</h2>

<p id="notice"><%= notice %></p>

<%= link_to "Volver", customer_path(@vehicle.customer) %>

<p>
  <strong>Marca:</strong>
  <%= @vehicle.brand %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Año:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Patente:</strong>
  <%= @vehicle.plate %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vehicle.color %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @vehicle.customer.full_name %>
</p>

<h3>Trabajos</h3>

<%= turbo_stream_from "assignments" %>

<div class="bg-white shadow overflow-hidden sm:rounded-md">
  <ul class="divide-y divide-gray-200">
    <%= turbo_frame_tag "assignments" do %>
      <%= render @assignments %>
    <% end %>
  </ul>
</div>
<br>

<%= turbo_frame_tag "new_assignment" do %>
  <%= link_to "Nuevo Trabajo", new_assignment_path %>
<% end %>
