<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @vehicle.customer_id %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @vehicle.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Plate:</strong>
  <%= @vehicle.plate %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>

<%= turbo_stream_from "assignments" %>

<div class="bg-white shadow overflow-hidden sm:rounded-md">
  <ul class="divide-y divide-gray-200">
    <%= turbo_frame_tag "assignments" do %>
      <%= render @assignments %>
    <% end %>
  </ul>
</div>
<br>

<%= turbo_frame_tag "new_assignment" do %>
  <%= link_to 'New Assigment', new_assignment_path %>
<% end %>
