<!DOCTYPE html>
<html>
  <head>
    <title>Clinic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="h-screen flex overflow-hidden bg-gray-100"
         data-controller="slideover"
         data-slideover-active-target="#slideover-target"
         data-slideover-invisible-class="-translate-x-full,opacity-0"
         data-slideover-visible-class="translate-x-0,opacity-100"
         data-slideover-entering-class=""
         data-slideover-enter-timeout="300,300"
         data-slideover-leaving-class=""
         data-slideover-leave-timeout="300,0">
      <%= render "shared/mobile_sidebar" %>
      <%= render "shared/desktop_sidebar" %>

      <div class="flex flex-col w-0 flex-1 overflow-hidden">
        <%= render "shared/top_bar" %>
        <%= render "shared/alerts" %>

        <main class="flex-1">
          <div class="py-6">
            <%= yield %>
          </div>
        </main>
      </div>
    </div>

    <div class="container mx-auto prose">
      <% if signed_in? %>
        <%= current_user.email %>
        <%= button_to "Cerrar sesión", sign_out_path, method: :delete %>
      <% else %>
        <%= link_to "Ingresar", sign_in_path %>
      <% end %>
    </div>
  </body>
</html>
